<%= render 'spaces/navigation', space: @space %>
<div class="cb-section">
  <div class="cb-container">
    <div class="form-block--wide">
      <h2 class="heading--special">Edit Question</h2>

      <%= form_for @question, url: [@space, @question] do |f| %>
        <%= render 'form', f: f %>
        <p>
          <%= f.submit 'Update field', class: 'btn btn--full btn--blue btn--stretch' %>
        </p>
        <p>
          <%= link_to 'back', [@space, :questions] %>
        </p>
      <% end %>
    </div>
  </div>
</div>
