<%= render 'spaces/navigation', space: @space %>

<h2 class="heading--special">Edit Question</h2>
<div class="form-block--wide">

  <%= form_for @question, url: [@space, @question] do |f| %>
    <%= render 'form', f: f %>
    <p>
      <%= f.submit 'Update field', class: 'btn btn--full btn--primary btn--stretch' %>
    </p>
  <% end %>
</div>

<p>
  <%= link_to 'back', [@space, :questions], class: 'link--back' %>
</p>
