<%= render 'spaces/navigation', space: @space %>
<div class="path"><%= link_to @space.name, @space %> » Settings</div>

<% if @embedded %>
  <div class="page-header">
    <h2>Coworker Profiles</h2>
  </div>
<% end %>

<h2>Fields</h2>

<p>Here you can add additional fields to the member profiles of your space.</p>

<% if @questions.any? %>
  <ol>
    <% @questions.each do |question| %>
      <li>
        <%= link_to 'Remove', [@space, question], method: 'delete', confirm: 'Really remove that question?', class: 'right btn' %>
        <%= link_to 'Edit', [:edit, @space, question], class: 'right btn' %>
        <%= question.text %>

      </li>
    <% end %>
  </ol>
<% else %>
  <p>No fields set up at the moment.</p>
<% end %>

<h2>Add Field</h2>
<%= simple_form_for @question, url: [@space, @question] do |f| %>
  <%= f.input :text %>
  <%= f.input :question_type, collection: {'Short Text' => 'short_text', 'Long Text' => 'long_text'}, prompt: false %>
  <%= f.submit 'Add Field', class: 'btn' %>
<% end %>

<% unless @embedded %>
  <h2>Visibility</h2>

  <%= simple_form_for @space do |f| %>
    <div class="check-box input">
      <%= f.check_box :members_only %>
      <%= f.label :members_only, 'Profiles are only visible for members, not publicly.' %>
    </div>
    <div>
      <%= f.submit 'Save', class: 'btn' %>
    </div>
  <% end %>
<% end %>

<h2>Embed on your website</h2>

<p>To add the list of coworkers to your website please paste the following embed code into your site:</p>

<textarea class="embed" rows="12">
&lt;div id=&quot;coworkers_widget&quot;&gt;&lt;/div&gt;
<%= stylesheet_link_tag "http://#{request.host_with_port}/stylesheets/widget.css" %>
<script>
  (function(){
    load_async('http://<%= request.host_with_port %>/javascripts/widget.js'); load_async('<%= api_space_url(@space, callback: 'CoworkersWidget', format: :json, secret: @space.secret) %>');
    function load_async(url) {var a = document.createElement('script'); a.type = 'text/javascript'; a.async = true; a.src = url; var b = document.getElementsByTagName('script')[0]; b.parentNode.insertBefore(a, b);}
  })();
</script>
</textarea>

  <p>You can change the look of the widget through CSS. Take a look at <%= link_to 'widget.css', "http://#{request.host_with_port}/stylesheets/widget.css" %> to see how it is styled. You can even change the HTML by replacing <%= link_to 'widget.js', "http://#{request.host_with_port}/javascripts/widget.js" %> with your own version.</p>

