<%= render 'spaces/navigation', space: @space %>

<div class="inner">
  <h2>Fields</h2>

  <p>Add additional fields to the member profiles of your space.</p>

  <% if @questions.any? %>
    <ul class="admin-list">
      <% @questions.each do |question| %>
        <li class="admin-item">
          <div class="actions-right">
            <%= link_to 'Remove', [@space, question],
              data: {method: 'delete', confirm: 'Really remove that question?'}, class: 'btn_x' %>
            <%= link_to 'Edit', [:edit, @space, question], class: 'btn_edit' %>
          </div>
          <div class="admin-item__title"><%= question.text %></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No fields set up at the moment.</p>
  <% end %>

  <h3 class="pad-top--default">Add Field</h3>

  <%= form_for @question, url: [@space, @question] do |f| %>
    <div class="form-block--wide">
      <p>
        <%= f.label :text, 'Text' %>
        <%= f.text_field :text, class: 'input--stretch' %>
      </p>
      <p>
        <%= f.select :question_type, {'Short Text' => 'short_text', 'Long Text' => 'long_text'},
          {prompt: false}, class: 'input--stretch' %>
      </p>
      <p class="pad-bottom--big">
        <%= f.submit 'Add Field', class: 'btn btn--full btn--primary btn--stretch' %>
      </p>
    </div>
  <% end %>

  <% unless @embedded %>
    <h3>Visibility</h3>

    <%= form_for @space do |f| %>
      <div class="form-block--wide">
        <p>
          <%= f.check_box :members_only %>
          <%= f.label :members_only, 'Profiles are only visible for members, not publicly.' %>
        </p>
        <p>
          <%= f.submit 'Save', class: 'btn btn--full btn--primary btn--stretch' %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="inner">
  <h3>Embed on your Website</h3>

  <p>To add the list of coworkers to your website please paste the following embed code into your site.</p>

  <textarea class="embed w6 f7 courier" rows="12">
    <%= render('embed_link') %>
  </textarea>

  <p class="f7">
    To change the look of the member list just change the CSS/HTML in the embed code.
  </p>
</div>
