<%= render 'spaces/navigation', space: @space %>

<div class="path"><%= link_to @space.name, @space %> » <%= link_to 'Message Boards', [@space, :message_boards] %> » <%= @message_board.name %></div>

<%= link_to 'Remove Message Board', [@space, @message_board], method: :delete, confirm: 'Really remove this board?' %>

<h2>Post Message</h2>
<%= simple_form_for [@space, @message_board, @message] do |f| %>
  <%= f.input :text, as: :text, hint: 'You can use Markdown here.' %>
  <%= f.submit 'Post Message' %>
<% end %>

<h2>Messages</h2>

<%= render 'messages/messages', messages: @message_board.messages, truncate: 100, edit_links: true, space: @space, message_board: @message_board %>
