<% if messages.any? %>
  <% messages.each do |message| %>
    <div class="message">
      <%= markdown local_assigns[:shorten] ? truncate(message.text, length: local_assigns[:shorten]) : message.text %>
      <p class="author">
        <%= time_ago_in_words message.created_at %> ago
        by <%= author_link(message) %>
        <% if local_assigns[:edit_links] && message.editable_by?(current_user, space) %>
          | <%= link_to 'Edit Message', [:edit, space, message_board, message] %>
        <% end %>
      </p>
    </div>
  <% end %>
<% else %>
  <p>No messages posted yet.
  <%= link_to 'Post one', [@space, board] if local_assigns[:post_link] %></p>
<% end %>


