<%= render 'spaces/navigation', space: @space %>

<div class="path">
  <%= link_to @space.name, @space %>
  » <%= link_to 'Message Boards', [@space, :message_boards] %>
  » <%= link_to @message_board.name, [@space, @message_board] %>
  » Edit Message
</div>


<%= simple_form_for [@space, @message_board, @message] do |f| %>
  <%= f.input :text, as: :text, hint: 'You can use Markdown here.' %>
  <%= f.submit 'Update Message' %>
<% end %>
