<%= render 'spaces/navigation', space: @space %>

<div class="path">
  <%= link_to @space.name, @space %>
  » <%= link_to 'Message Boards', [@space, :message_boards] %>
  » <%= link_to @message_board.name, [@space, @message_board] %>
  » <%= truncate @message.text, lenght: 20 %>
</div>

<%= markdown @message.text %>

<p><%= link_to 'back', [@space, @message_board] %></p>
