<%= render 'spaces/navigation', space: @space %>

<div class="path"><%= link_to @space.name, @space %> » Edit Profile</div>

<%= form_tag space_profile_path(@space), method: :put do %>
  <% @questions.each.with_index do |question, i| %>
    <div class="input optional">
      <%= question_input_tags question, i, @answers %>
    </div>
  <% end %>
  <div class="submit">
    <%= submit_tag 'Update Profile' %>
  </div>
<% end %>
