<% if memberships.any? %>
  <div class="grid-container">
    <% memberships.each do |membership| %>
      <%= link_to [space, membership], class: 'test-member db pa3 bg--custom-white shadow-hover' do %>
        <div class="media media--full">
          <div class="media__figure">
            <%= image_tag(membership_picture_url(membership, size: :large), size: '90x90',
                class: 'br-100') %>
          </div>
          <div class="media__body">
            <% unless membership.public? %>
              <p class="f7 fr btn_lock">private</p>
            <% end %>
            <h4 class="f5 mb0 mt0">
              <%= truncate membership.name, length: 60 %>
            </h4>
            <div class="f7 tc--text-05">
              <%= truncate membership.profession, length: 20 %>
            </div>
            <hr class="clear hr--light">
            <p class="f6 mb0">
              <%= truncate membership.bio, length: 80 %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No member has set up a profile yet.</p>
<% end%>
