<% if memberships.any? %>
  <% memberships.each do |membership| %>
    <div class="member">
      <%= link_to image_tag(membership_picture_url(membership), width: 150, class: :member), [space, membership], title: membership.name, class: 'photo' %>
      <div class="bio">
        <h3>
          <%= link_to membership.name, [space, membership] %>
        </h3>
        <p><%= membership.profession %><%= ', ' if membership.profession? && membership.website? %><%= link_to membership.website, membership.website, target: '_top' if membership.website? %></p>
        <%= markdown truncate(membership.bio, length: 400) %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>There are no members yet. Members of the space are added automatically when they log in the first time.</p>
<% end%>
