<%= render 'spaces/navigation', space: @space %>

<div class="path"><%= link_to @space.name, @space %> » <%= link_to @membership.name, [@space, @membership] %> » Edit Profile</div>

<%= simple_form_for [@space, @membership] do |f| %>

  <p><%= image_tag @membership.picture %></p>
  <p>You can change your picture in your <a target="_TOP" href="https://www.cobot.me/account/edit">account settings</a>.</p>

  <% unless @space.hide_default_fields? %>
    <fieldset>
      <legend>Profile</legend>
      <%= f.input :website, placeholder: 'http://...' %>
      <%= f.input :profession %>
      <%= f.input :industry %>
      <%= f.input :bio, as: :text, required: true, placeholder: 'A few lines about you.' %>
      <%= f.input :skills, as: :text %>
    </fieldset>
    <fieldset>
      <legend>Messenger</legend>
      <%= f.input :messenger_type, label: 'Type', collection: ['Skype', 'Twitter', 'Jabber']  %>
      <%= f.input :messenger_account, label: 'Account' %>
    </fieldset>
  <% end %>

  <% if @questions.any? %>
    <fieldset>
    <legend>Additional</legend>
      <% @questions.each.with_index do |question, i| %>
        <div class="input optional">
          <%= question_input_tags question, i, @answers %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <%= f.submit 'Update Profile', disable_with: 'Saving...', class: 'btn' %>
  <%= link_to 'Remove Profile', [@space, @membership], method: 'delete', confirm: 'Really remove that membership?', class: 'remove' %>
<% end %>

<p>Note: This information will be visible to your coworkers and every user of this application.</p>

<p><%= link_to 'back', space_membership_path(@space, @membership) %></p>
