<div class="inner">
  <div class="media media--full">
    <div class="media__figure">
      <%= image_tag membership_picture_url(@membership, size: :large), class: 'avatar mb4' %>
    </div>
    <div class="media__body">
      <% if current_user && (current_user.admin_of?(@space) || current_user == @membership.user) %>
        <span class="fr">
          <%= link_to 'Edit', edit_profile_url(@space, @membership),
            class: 'btn btn--small btn--full btn--primary btn_edit' %>
          <% if @membership.public? %>
            <%= link_to 'Unpublish', [@space, @membership, :'membership[public]' => false],
              class: 'btn btn--small btn--full btn_lock',
              method: :patch  %>
          <% else %>
            <%= link_to 'Publish', [@space, @membership, :'membership[public]' => true],
              class: 'btn btn--small btn--full btn_lock',
              method: :patch  %>
          <% end %>
          <%= link_to 'Remove Profile', [@space, @membership],
            data: {method: 'delete'},
            confirm: 'Really remove that membership?',
            class: 'btn btn--small btn_x' if current_user.admin_of?(@space) %>
        </span>
      <% end %>
      <h2 class="heading--special mt0">
        <%= @membership.name %>
        <% unless @membership.public? %>
          <span class="f7 btn_lock">private</span>
        <% end %>
      </h2>
      <% unless @space.hide_default_fields? %>
        <% if @membership.bio? %>
          <span class="admin-label">Bio</span>
          <%= markdown @membership.bio %>
        <% end %>
        <% if @membership.website? %>
          <span class="admin-label">Website</span>
          <p class="website"><%= link_to @membership.website, add_scheme(@membership.website), target: '_blank' %></p>
        <% end %>
        <% if @membership.messenger_account? %>
          <% if @membership.messenger_type? %>
            <span class="admin-label messenger">
              <%= @membership.messenger_type %>
            </span>
          <% end %>
          <p class="messenger">
            <%= format_messenger @membership.messenger_type, @membership.messenger_account %>
          </p>
        <% end %>
        <% [:profession, :industry, :skills].each do |attribute| %>
          <% if @membership.send("#{attribute}?") %>
            <span class="admin-label <%= attribute %>"><%= attribute.to_s.humanize %></span>
            <p class="<%= attribute %>"><%= auto_link @membership.send(attribute).to_s, :all, target: '_blank' %></p>
          <% end %>
        <% end %>
      <% end %>

      <% if @membership.answers.any? %>
        <% unless @space.hide_default_fields? %>
          <h3>Additional information</h3>
        <% end %>
        <% @membership.answers.each do |answer| %>
          <% if answer.text? %>
            <span class="admin-label"><%= answer.question %></span>
            <p><%= answer.text %></p>
          <% end %>
        <% end %>
      <% elsif @membership.user == current_user && @space.questions.any? %>
        <p>Please <%= link_to 'add more information', edit_profile_url(@space, @membership) %></p>
      <% end %>

    </div>
  </div>
</div>

<p><%= link_to 'back', space_memberships_path(@space), class: 'link--back' %></p>
