<%= render 'spaces/navigation', space: @space %>

<% if current_user && (current_user.admin_of?(@space) || current_user == @membership.user) %>
  <div class="action-links">
    <ul>
      <li><%= link_to 'Edit', [:edit, @space, @membership], class: 'btn' %><li>
    </ul>
  </div>
<% end %>

<div class="path"><%= link_to @space.name, @space %> » <%= @membership.name %></div>

<p><%= image_tag @membership.picture %></p>

<div class="profile_info">
  <h2>General Information</h2>
  <% unless @space.hide_default_fields? %>
    <%= markdown @membership.bio %>
    <dl>
      <% if @membership.website? %>
        <dt>Website</dt>
        <dd class="website"><%= link_to @membership.website, add_scheme(@membership.website) %></dd>
      <% end %>
      <% [:profession, :industry, :skills].each do |attribute| %>
        <% if @membership.send("#{attribute}?") %>
          <dt class="<%= attribute %>"><%= attribute.to_s.humanize %></dt>
          <dd class="<%= attribute %>"><%= auto_link @membership.send(attribute).to_s, :all, target: '_blank' %></dd>
        <% end %>
      <% end %>
      <% if @membership.messenger_account? && @membership.messenger_type? %>
        <dt class="messenger"><%= @membership.messenger_type %></dt>
        <dd class="messenger">
          <%= format_messenger @membership.messenger_type, @membership.messenger_account %>
        </dd>
      <% end %>
    </dl>
  <% end %>

  <% if @membership.answers.any? %>
    <% unless @space.hide_default_fields? %>
      <h2>Additional information</h2>
    <% end %>
    <dl>
      <% @membership.answers.each do |answer| %>
        <% if answer.text? %>
          <dt class="question"><%= answer.question %></dt>
          <dd class="answer"><%= answer.text %></dd>
        <% end %>
      <% end %>
    </dl>
  <% elsif @membership.user == current_user && @space.questions.any? %>
    <p>Please <%= link_to 'add more information', edit_space_membership_path(@space, @membership) %></p>
  <% end %>
</div>
<div class="clear"></div>

<p><%= link_to 'back', space_memberships_path(@space) %></p>
