<h1>Profile of <%= @membership.name %> at <%= @space.name %></h1>

<dl>
  <% [:website, :bio, :profession, :industry, :skills].each do |attribute| %>
    <% if @user.send("#{attribute}?") %>
      <dt class="<%= attribute %>"><%= attribute.to_s.humanize %></dt>
      <dd class="<%= attribute %>"><%= @user.send(attribute) %></dd>
    <% end %>
  <% end %>
  <% if @user.messenger_account? && @user.messenger_type? %>
    <dt class="messenger"><%= @user.messenger_type %></dt>
    <dd class="messenger"><%= @user.messenger_account %></dd>
  <% end %>
</dl>

<p><%= link_to 'back', @space %></p>