<p>Member directory and message boards for coworking spaces using <%= link_to 'cobot', 'http://www.cobot.me' %>.</p>

<p class="center"><%= link_to 'Sign In', '/auth/cobot', class: 'btn' %></p>

<p>You need to have a cobot account and be a member or admin in a space there in order to use coworkers.</p>

<div class="screen">
  <%= image_tag 'screen_1.png' %>
  <p>Members with photos and profile information.</p>
</div>
<div class="screen">
  <%= image_tag 'screen_2.png' %>
  <p>Customizable fields.</p>
</div>
<div class="screen last">
  <%= image_tag 'screen_3.png' %>
  <p>Member profile page.</p>
</div>

<div class="clear"></div>
