<%= render 'spaces/navigation', space: @space %>

<div class="path"><%= link_to @space.name, @space %> » Import Members</div>

<% if @memberships.any? %>
  <%= simple_form_for :memberships, url: space_membership_import_url do |f| %>
    <% @memberships.each do |membership| %>
      <p class="check-box">
        <%= check_box_tag :"memberships[#{membership.cobot_id}]" %>
        <%= label_tag :"memberships[#{membership.cobot_id}]", membership.name %>
      </p>
    <% end %>
    <%= f.button :submit, 'Import Members', class: 'btn' %>
  <% end %>
<% else %>
  <p>No members to import from Cobot.</p>
<% end %>
