<%= render 'spaces/navigation', space: @space %>
<div class="cb-section">
  <div class="cb-container">
    <div class="form-block--wide">
      <h2 class="heading--special">Set up Profiles</h2>

      <p>Members can set up their profile themselves. Alternatively admins can do it for them here.</p>

      <% if @memberships.any? %>
        <%= simple_form_for :memberships, url: space_membership_import_url do |f| %>
          <% @memberships.each do |membership| %>
            <p class="check-box">
              <%= check_box_tag :"memberships[#{membership.cobot_id}]" %>
              <%= label_tag :"memberships[#{membership.cobot_id}]", membership.name %>
            </p>
          <% end %>
          <p>
            <%= f.button :submit, 'Create Member Profiles', class: 'btn btn--full btn--primary btn--stretch' %>
          </p>
        <% end %>
      <% else %>
        <p>No members wthout a profile.</p>
      <% end %>
    </div>

    <p><%= link_to 'back', space_memberships_path(@space), class: 'link--back' %></p>
  </div>
</div>
