<!DOCTYPE html>
<html>
<head>
  <title>Coworkers</title>
  <%= stylesheet_link_tag 'screen', 'btn' %>
  <%= javascript_include_tag 'jquery', 'rails', 'application', 'jquery.tablesorter.min', 'jquery.uitablefilter.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">

    <h1 class="logo">
      <%= link_to 'Coworkers', root_path %>
    </h1>
    <div class="header">
      <nav>
        <% if current_user %>
          <%= link_to 'Account', account_path %>
          <%= link_to 'Edit Profile', edit_account_path %>
          <%= link_to "Edit #{@space.name} Profile", edit_space_profile_path(@space) if @space && @space.member?(current_user) %>
          <%= link_to 'Sign out', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Sign in', authenticate_path %>
        <% end %>
      </nav>
    </div>
    <div class="main">
    <% if flash[:notice] %>
      <p class="flash notice"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
    </div>
    <div class="footer">
      <p class="right">This software is <a href="http://github.com/cobot/coworkers">open source</a>.</p>
      <p>&copy; <%= Date.today.year %> <%= link_to 'Upstream - Agile GmbH', 'http://upstre.am' %></p>
    </div>
  </div>
</body>
</html>
