<!DOCTYPE html>
<html>
<head>
  <title>Coworkers</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <h1 class="logo">
      <%= link_to 'Coworkers', root_path %>
    </h1>
    <div class="header">
      <nav>
        <% if current_user %>
          <%= link_to 'Account', account_path %>
          <%= link_to 'Sign out', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Sign in', new_session_path %>
        <% end %>
      </nav>
    </div>
    <% if menu = yield(:menu) %>
      <div id="menu">
        <%= menu %>
        &nbsp;
      </div>
    <% end %>
    <div class="main <%= ' with-menu' if menu %>">
      <% if flash[:notice] %>
        <div id="flash">
          <p class="flash notice">
            <span class="flash-icon"></span>
              <%= flash[:notice] %>
          </p>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div class="footer">
      <p class="right">This software is <a href="http://github.com/cobot/coworkers">open source</a>.</p>
      <p>&copy; <%= Date.today.year %> <%= link_to 'Upstream - Agile GmbH', 'http://upstre.am' %></p>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
