<!DOCTYPE html>
<html>
<head>
  <title>Coworkers</title>
  <%= stylesheet_link_tag 'screen', 'custom', 'btn', 'facebox', 'forms' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <h1 class="logo">
      <%= link_to 'Coworkers', root_path %>
    </h1>
    <div class="header">
      <nav>
        <% if current_user %>
          <%= link_to 'Account', account_path %>
          <%= link_to 'Edit Profile', edit_account_path %>
          <%= link_to 'Sign out', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Sign in', authenticate_path %>
        <% end %>
      </nav>
    </div>
    <% if menu = yield(:menu) %>
      <div id="menu">
        <%= menu %>
        &nbsp;
      </div>
    <% end %>
    <div class="main <%= ' with-menu' if menu %>">
      <% if flash[:notice] %>
        <p class="flash notice"><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
    <div class="footer">
      <p class="right">This software is <a href="http://github.com/cobot/coworkers">open source</a>.</p>
      <p>&copy; <%= Date.today.year %> <%= link_to 'Upstream - Agile GmbH', 'http://upstre.am' %></p>
    </div>
  </div>
  <%= javascript_include_tag 'jquery', 'rails', 'facebox', 'application' %>
  <script type="text/javascript">
    $(function() {
      (function() {
        window._kmq = window._kmq || [];
        function _kms(u){
          setTimeout(function(){
            var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
            s.src = u; f.parentNode.insertBefore(s, f);
          }, 1);
        }
        <% if current_user %>
          _kmq.push(['identify', '<%= current_user.email %>']);
        <% end %>
        _kms('//i.kissmetrics.com/i.js');
        _kms('//doug1izaerwt3.cloudfront.net/d28ef16c902b60ab05ad5d446cbd1d403b54081a.1.js');
        <%== km_events %>
      })();
    });
  </script>
</body>
</html>
