<!DOCTYPE html>
<html>
<head>
  <title>Coworkers</title>
  <%= stylesheet_link_tag 'screen' %>
  <%= javascript_include_tag 'jquery', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
		<div class="header">
			<% if current_user %>
				<%= image_tag user_image_url(current_user, 32, request.ssl?) %>
			<% end %>
    	<%= link_to 'Coworkers', root_path %>
    	<navigation>
      	<% if current_user %>
        	<%= link_to 'Account', account_path %>
        	<%= link_to 'Edit Profile', edit_account_path %>
        	<%= link_to "Edit #{@space.name} Profile", edit_space_profile_path(@space) if @space && @space.member?(current_user) %>
        	<%= link_to 'Sign out', session_path, method: :delete %>
      	<% else %>
        	<%= link_to 'Home', root_path %>
      	<% end %>
    	</navigation>
		</div>
    <% if flash[:notice] %>
      <p class="flash notice"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
    <div class="footer">
      <p class="right">This software is <a href="http://github.com/cobot/coworkers">open source</a>.</p>
      <p>&copy; <%= Date.today.year %> <%= link_to 'Upstream - Agile GmbH', 'http://upstre.am' %></p>
    </div>
  </div>
</body>
</html>
