<!DOCTYPE html>
<html>
<head>
  <title>Coworkers</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  
  <navigation>
    <%= link_to 'Home', root_path %>
    <% if current_user %>
      <%= link_to 'Account', account_path %>
    <% end %>
  </navigation>


<%= yield %>

</body>
</html>
