<!DOCTYPE html>
<html>
<head>
  <title>Coworkers</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
  <style>
    .path {
      display: none;
    }
    .container {
      width: 705px;
    }
    .main {
      background: none;
      padding: 0;
      border: none;
    }
  </style>
</head>
<body class="embed">
  <div class="container">
    <div class="main">
      <% if flash[:notice] %>
        <p class="flash notice"><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= render 'cobot_client/resize_script' %>
</body>
</html>
